<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <meta
    http-equiv="content-type"
    content="text/html;charset=utf-8"/>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />
    <meta name="template" content="greeny" />
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
    <meta
      name="keywords"
      content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"/>
      
    <title>Web for selling agricultural products</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/about.css" />
      <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    
    <!--************************************
				Header Start
		*************************************-->
		<header th:replace="~{/web/fragments/header :: header}"></header>
		<!--************************************
				Header End
		*************************************-->

    <section
      class="inner-section single-banner"
      style="background: url(images/single-banner.jpg) no-repeat center" >
      <div class="container">
        <h2>About Us</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
          
        </ol>
      </div>
    </section>
    
    <section class="about-choose">
      <div class="container">
        <div class="row">
          <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
            <div class="section-heading">
              <h2>Why people choose organic daily life with us</h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon"><i class="icofont-fruits"></i></div>
              <div class="choose-text">
                <h4>100% Fresh Organic Food</h4>
                <p>
                    Selected through the best and safest experienced farmers.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon">
                <i class="icofont-vehicle-delivery-van"></i>
              </div>
              <div class="choose-text">
                <h4>Delivery within an hour</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing tempora
                  pariatur provident animi error dignissimo cumque minus facere
                  dolores cupiditate debitis
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon"><i class="icofont-loop"></i></div>
              <div class="choose-text">
                <h4>Quick return policy</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing tempora
                  pariatur provident animi error dignissimo cumque minus facere
                  dolores cupiditate debitis
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="choose-card">
              <div class="choose-icon"><i class="icofont-support"></i></div>
              <div class="choose-text">
                <h4>Instant support call center</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing tempora
                  pariatur provident animi error dignissimo cumque minus facere
                  dolores cupiditate debitis
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr>

    <section class="about-choose">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <img src="images/about/about.jpg" alt="about" width="500" height="410">
                </div>
                <div class="col-lg-6">
                    <div class="choose-card">

                        <div class="choose-text">
                            <h4>Our Mission</h4>
                            <p>
                                To help people live a better, healthier, and wholesome life by providing them with 100% certified, authentic organic food.
                            </p>
                            <br>

                            <h4>Our Vision</h4>
                            <p>
                                To be the leading brand of Organic food in India. <br>
                                To give back to the environment and advance on a path to sustainability. <br>
                                To make consumers aware of the benefits of organic food by giving them healthy choices of eating.
                                <br>
                                To create a big movement that would lead people to switch to organic food and take up a healthier lifestyle just like it used to be hundreds of years ago, when pesticides were not introduced and everything we ate was natural and chemical free.
                            </p>
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <hr>
            <div class="row">
                <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                    <div class="section-heading">
                        <h2>Farm To Kitchen</h2>
                        <img src="images/about/line.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <img src="images/about/farm.png" alt="farm" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="choose-text">
                        <h4 style="text-align: center">THE FARMS</h4>
                        <p>
                            Our farmers are carefully chosen and trained to work towards practicing environment-friendly farming techniques. From the chemical-free soil to the grains being hand-picked – everything you see is organically farmed to give you the highest quality product. We check the soil quality, cropping pattern, prevalent crop rotation and the nutrient levels in the soil. While doing this, we ensure that the chosen region has suitable weather and temperature conditions. We follow a series of practices like soil fertility management, seed collection, biodiversity, composting, water management, crop rotation and protection which are extremely efficient and regenerative in nature.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="images/about/factory-1.png" alt="factory" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="choose-text">
                        <h4 style="text-align: center">THE FACTORY</h4>
                        <p>
                            With a combination of traditional and state-of-the-art machinery,  we have an effective yet efficient way of functioning.  All products are stored in a hygienic and C02 fumigated environment for infestation control. Our advanced practices and dehydration technologies ensure that all our products retain their maximum level of potency. Our products are dehydrated in a dry, sterile environment to prevent the chances of a phytochemical breakdown. We have a specialized mechanism to preserve the matrix of bioactive molecules possessed by all the products by grinding them at low temperatures. What we provide you as final products are of the highest quality, pure and natural.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-4">
                    <img src="images/about/kitchen.png" alt="kitchen" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="choose-text">
                        <h4 style="text-align: center">THE KITCHEN</h4>
                        <p>
                            You can enjoy food that is hygienically packed and retains all the benefits of organic food, without any chemical interference. We’ve always been supportive of food that is more tasty, nutritious and holistic. Having seen the highest numbers when it comes to customers talking about the benefit of shifting to a more organic diet, we believe it’s time for a change and that time is now!
                        </p>
                        <br>
                    </div>
                </div>
                <br>

            </div>
            <br>
            <div class="row">
                <div class="col-lg-2">
                    <img src="images/about/seeds.png" alt="seeds" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="choose-text">
                        <h4 style="text-align: center; color: green">SEED SELECTION</h4>
                        <p>
                            Farmers are paid a premium price to ensure that no genetically modified seeds are brought into use.</p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img src="images/about/soil.png" alt="soil" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="choose-text">
                        <h4 style="text-align: center; color: green">SOIL TESTING</h4>
                        <p>
                            The soil is tested to confirm the absence of chemicals.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img src="images/about/harvest.png" alt="hav" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="choose-text">
                        <h4 style="text-align: center; color: green">HARVEST</h4>
                        <p>
                            The crops are only harvested after attaining full maturity & the obtained products are stored in a completely hygienic environment.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img src="images/about/chemical.png" alt="che" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="choose-text">
                        <h4 style="text-align: center; color: green">CHEMICAL TESTING</h4>
                        <p>
                            Over 189 tests are conducted to check the presence of pesticides & retain the crops’ potency.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img src="images/about/co2.png" alt="che" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="choose-text">
                        <h4 style="text-align: center; color: green">CO2 FUMIGATION</h4>
                        <p>
                            Crops are subjected to CO2 fumigation to get rid of bacteria & insect infestation, if any.
                        </p>
                        <br>
                    </div>
                </div>
                <div class="col-lg-2">
                    <img src="images/about/packing.png" alt="pak" style="display: block; margin-left: auto; margin-right: auto;">
                    <div class="choose-text">
                        <h4 style="text-align: center; color: green">PACKAGING</h4>
                        <p>
                            While packaging, all standards laid down by the Indian Organic Standards are maintained.
                        </p>
                        <br>
                    </div>
                </div>
                <br>

            </div>
            <br> <br>
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Our Certifications</h2>
                        <img src="images/about/line.png" alt="">
                    </div>
                    <br>
                    <div class="choose-text">
                        <p>
                            We are certified organic as per India Organic (NPOP), USDA (NOP), Kosher and EU Standards. We adhere to stringent norms set by APEDA, Ministry of Agriculture with respect to transaction certificates used in traceability of the organic crops. But, we do not stop there, we are proud to have maintained our BRC Grade-A certification as well.
                        </p>

                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-card">

                        <div class="choose-text">
                            <img src="images/about/1.jpg" alt="" width="200" height="150">
                        </div>
                        <div class="choose-text">
                            <img src="images/about/2.jpg" alt="" width="200" height="150">
                        </div>
                        <div class="choose-text">
                            <img src="images/about/3.jpg" alt="" width="200" height="150">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="section feature-part">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Outstanding Brand</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="new-slider slider-arrow">
                        <li>
                            <div class="product-card">
                                <div class="product-media">

                                    <img src="images/about/007.png" alt="product" width="300" height="300" />


                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="product-card">
                                <div class="product-media">

                                        <img src="images/about/006.png" alt="product" width="300" height="300"/>


                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="product-card">
                                <div class="product-media">

                                    <img src="images/about/005.png" alt="product" width="300" height="300"/>


                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="product-card">
                                <div class="product-media">

                                    <img src="images/about/004.png" alt="product" width="300" height="300"/>


                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="product-card">
                                <div class="product-media">

                                    <img src="images/about/003.png" alt="product" width="300" height="300"/>


                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="product-card">
                                <div class="product-media">

                                    <img src="images/about/002.png" alt="product" width="300" height="300"/>


                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="product-card">
                                <div class="product-media">

                                    <img src="images/about/dalat.jpg" alt="product" width="300" height="300"/>


                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="product-card">
                                <div class="product-media">

                                    <img src="images/about/001.jpg" alt="product" width="300" height="300"/>


                                </div>

                            </div>
                        </li>
                        <li>
                            <div class="product-card">
                                <div class="product-media">

                                    <img src="images/about/vin.jpg" alt="product" width="300" height="300"/>


                                </div>

                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </section>
    
    <section class="news-part"
		style="background: url(images/newsletter.jpg) no-repeat center">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-5 col-lg-6 col-xl-7">
					<div class="news-text">
						<h2>Get 20% Discount For Subscribers</h2>
						<p>Get 20% Discount For Subscribers</p>
					</div>
				</div>
				<div class="col-md-7 col-lg-6 col-xl-5">
					<form class="news-form">
						<input type="text" placeholder="Enter Your Email Address" />
						<button>
							<span><i class="icofont-ui-email"></i>Send</span>
						</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<section class="intro-part">
		<div class="container">
			<div class="row intro-content">
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-truck"></i>
						</div>
						<div class="intro-content">
							<h5>Free Home Delivery</h5>
							<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-sync-alt"></i>
						</div>
						<div class="intro-content">
							<h5>Refund Policy</h5>
							<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-headset"></i>
						</div>
						<div class="intro-content">
							<h5>Support System</h5>
							<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-lg-3">
					<div class="intro-wrap">
						<div class="intro-icon">
							<i class="fas fa-lock"></i>
						</div>
						<div class="intro-content">
							<h5>Safe Payment Way</h5>
							<p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	
   <!--************************************
				Footer Start
		*************************************-->
		<footer th:replace="~{/web/fragments/footer :: footer}"></footer>
				
		<!--************************************
				Footer End
		*************************************-->
   
   
    <script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
    <script src="vendor/bootstrap/popper.min.js"></script>
    <script src="vendor/bootstrap/bootstrap.min.js"></script>
    <script src="vendor/countdown/countdown.min.js"></script>
    <script src="vendor/niceselect/nice-select.min.js"></script>
    <script src="vendor/slickslider/slick.min.js"></script>
    <script src="vendor/venobox/venobox.min.js"></script>
    <script src="js/nice-select.js"></script>
    <script src="js/countdown.js"></script>
    <script src="js/accordion.js"></script>
    <script src="js/venobox.js"></script>
    <script src="js/slick.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
