<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta
        http-equiv="content-type"
        content="text/html;charset=utf-8"/>
<head>
    <meta charset="UTF-8" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />
    <meta name="template" content="greeny" />
    <meta name="title" content="greeny - Ecommerce Food Store HTML Template" />
    <meta
            name="keywords"
            content="organic, food, shop, ecommerce, store, html, bootstrap, template, agriculture, vegetables, products, farm, grocery, natural, online"/>

    <title>Web bán hàng nông sản xanh</title>
    <link rel="icon" href="images/favicon.png" />
    <link rel="stylesheet" href="fonts/flaticon/flaticon.css" />
    <link rel="stylesheet" href="fonts/icofont/icofont.min.css" />
    <link rel="stylesheet" href="fonts/fontawesome/fontawesome.min.css" />
    <link rel="stylesheet" href="vendor/venobox/venobox.min.css" />
    <link rel="stylesheet" href="vendor/slickslider/slick.min.css" />
    <link rel="stylesheet" href="vendor/niceselect/nice-select.min.css" />
    <link rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/about.css" />
    <link rel="stylesheet" href="css/index.css" />
</head>
<body>

<!--************************************
            Header Start
    *************************************-->
<header th:replace="~{/web/fragments/header :: header}"></header>
<!--************************************
        Header End
*************************************-->

<section
        class="inner-section single-banner"
        style="background: url(images/single-banner.jpg) no-repeat center" >
    <div class="container">
        <h2>FAQ</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Trang Chủ</a></li>

        </ol>
    </div>
</section>

<section class="about-choose">
    <div class="container">
        <div class="row">
            <div class="col-11 col-md-9 col-lg-7 col-xl-6 mx-auto">
                <div class="section-heading">
                    <h2 style="color: red">Canh tác hữu cơ và Các câu hỏi thường gặp</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Nông nghiệp hữu cơ là gì?</h4>
                        <p>
                            Sản xuất thực phẩm hữu cơ dựa trên một hệ thống canh tác bắt chước các hệ sinh thái tự nhiên nhằm cân bằng các quần thể sinh vật có hại và sinh vật có ích, đồng thời duy trì và bổ sung độ phì nhiêu của đất.
                            Thuật ngữ 'hữu cơ' ở Hoa Kỳ được áp dụng cho các sản phẩm nông nghiệp được sản xuất tại các trang trại tuân thủ Quy tắc Chương trình Hữu cơ Quốc gia (NOP) của USDA.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon">
                        <i class="icofont-support"></i>
                    </div>
                    <div class="choose-text">
                        <h4>Làm thế nào để các trang trại hữu cơ quản lý khả năng sinh sản?</h4>
                        <p>
                            Nông dân hữu cơ quản lý chất dinh dưỡng cây trồng thông qua luân canh cây trồng bao gồm cây che phủ và việc bón các chất hữu cơ từ động thực vật,
                            thường ở dạng phân trộn. Các biện pháp làm đất và canh tác thích hợp giúp cải thiện cấu trúc đất, hàm lượng chất hữu cơ và đời sống vi sinh vật trong đất. Khoáng chất được khai thác và một số chất tổng hợp được cho phép được cho phép làm nguồn dinh dưỡng bổ sung, miễn là tránh ô nhiễm đất, cây trồng và nước.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Nông dân hữu cơ có thực hiện bất kỳ biện pháp phòng ngừa nào khi họ bón phân trong các trang trại hữu cơ không?</h4>
                        <p>
                            Đúng. Phân thô và các vật liệu động thực vật khác phải được xử lý theo cách ngăn ngừa ô nhiễm nước, đất và cây trồng. Để có thể bón phân mà không hạn chế ngày thu hoạch, phân chuồng phải được ủ kỹ. Các loại cây trồng làm thức ăn cho người có phần ăn được tiếp xúc với đất - bao gồm cả rau xanh - phải được thu hoạch ít nhất 120 ngày sau khi bón phân chưa ủ.
                            Các cây trồng khác dùng cho người phải được thu hoạch ít nhất 90 ngày sau khi bón phân thô.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Các trùng lặp côn trùng gây hại được quản lý như thế nào trong các chủ cơ sở trang?</h4>
                        <p>
                            Các hệ thống trang trại hữu cơ bảo vệ cây trồng bị tổn hại do côn trùng gây hại chủ yếu thông qua việc sử dụng các biện pháp sinh học và văn hóa như luân canh cây trồng; sự đa dạng hóa; quản lý môi trường sống; giải phóng sinh vật có lợi; vệ sinh môi trường; và thời gian.
                            Một số chất tự nhiên, chẳng hạn như thực vật và một số thuốc trừ sâu tổng hợp tương đối không độc hại như xà phòng được Tiêu chuẩn Chương trình Hữu cơ Quốc gia USDA cho phép khi sử dụng cùng với kế hoạch trang trại và được sử dụng theo các hạn chế được tìm thấy trong Danh sách Quốc gia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Cỏ dại được quản lý như thế nào trong các trang trại hữu cơ?</h4>
                        <p>
                            Quản lý cỏ dại trong các trang trại hữu cơ bao gồm các kỹ thuật cơ học và văn hóa như luân canh cây trồng để ngăn chặn cỏ dại, che phủ, làm đất, canh tác, quản lý nước và làm cỏ thủ công. Cỏ dại thường giúp bảo tồn đất, cải thiện chất hữu cơ và cung cấp môi trường sống có lợi cho các loài thiên địch trong các trang trại hữu cơ. Lớp phủ nhựa được cho phép miễn là chúng được loại bỏ vào cuối vụ. Côn trùng và bệnh tật có thể giúp kiểm soát một số quần thể cỏ dại nhất định. Có một số chất tự nhiên cũng được sử dụng để quản lý cỏ dại, nhưng hiệu quả của những chất này vẫn còn phải bàn.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Dịch bệnh cây trồng được quản lý như thế nào trong các trang trại hữu cơ?</h4>
                        <p>
                            Các bệnh truyền qua đất được quản lý bằng cách cải thiện chất hữu cơ và hoạt động sinh học. Các phương pháp văn hóa, sinh học và vật lý như luân canh, vệ sinh, cắt tỉa và chọn giống kháng bệnh đều là một phần của quản lý bệnh hữu cơ. Một số chất tự nhiên, chẳng hạn như đất sét và một số chất diệt nấm tổng hợp như đồng sunfat được cho phép theo Tiêu chuẩn Chương trình Hữu cơ Quốc gia của USDA khi sử dụng cùng với kế hoạch trang trại và được sử dụng theo các hạn chế được tìm thấy trong Danh sách Quốc gia.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Các yêu cầu để chuyển đổi sang sản xuất sữa hữu cơ là gì?</h4>
                        <p>
                            Có hai cách để chuyển đổi động vật lấy sữa sang sản xuất hữu cơ:
                            1) Động vật từ các nguồn thông thường phải được duy trì dưới sự quản lý hữu cơ trong 12 tháng trước khi bán bất kỳ sản phẩm nào dưới dạng hữu cơ. Động vật thay thế có thể được thêm vào đàn sau khoảng thời gian 12 tháng chuyển đổi tương tự.
                            2) Nếu toàn bộ một đàn riêng biệt được chuyển đổi, trợ cấp một lần được cấp để cho phép cho ăn tối đa 20% thức ăn không hữu cơ trong 9 tháng đầu tiên, sau đó là 100% thức ăn hữu cơ trong ba tháng. Nếu loại chuyển đổi này được thực hiện,
                            tất cả các động vật thay thế phải được quản lý một cách hữu cơ từ một phần ba cuối của thai kỳ.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Làm thế nào để động vật hữu cơ đáp ứng các yêu cầu dinh dưỡng của chúng?</h4>
                        <p>
                            Tất cả các sản phẩm nông nghiệp được cung cấp trong khẩu phần thức ăn phải là hữu cơ, với một lượng bổ sung và phụ gia hạn chế. Gia súc nhai lại phải được đồng cỏ đáp ứng một phần đáng kể nhu cầu thức ăn.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Làm thế nào để người sản xuất duy trì sức khỏe của động vật hữu cơ?</h4>
                        <p>
                            Chăm sóc sức khỏe vật nuôi phải dựa trên các thực hành phòng bệnh, chẳng hạn như cân bằng dinh dưỡng từ thức ăn hữu cơ, giảm căng thẳng và thực hành phòng bệnh. Các loại thuốc trong Danh sách Quốc gia chỉ có thể được sử dụng khi cần thiết và không được sử dụng trong trường hợp không có bệnh. Thuốc kháng sinh không được phép sử dụng và các sản phẩm từ động vật được điều trị bằng bất kỳ loại thuốc bị cấm nào phải được chuyển hướng khỏi các kênh tiếp thị hữu cơ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Có những phương pháp nào để quản lý ký sinh trùng trong vật nuôi hữu cơ?</h4>
                        <p>
                            Các nhà sản xuất chăn nuôi hữu cơ dựa vào các thực hành văn hóa để giảm thiểu sự xâm nhập của ký sinh trùng. Thuốc diệt ký sinh trùng tổng hợp chỉ có thể được sử dụng nếu chúng nằm trong Danh sách Quốc gia và bị cấm sử dụng trong kho giết mổ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Điều kiện sống của vật nuôi hữu cơ là gì?</h4>
                        <p>
                            Tất cả các động vật hữu cơ được yêu cầu có quyền tiếp cận các khu vực ngoài trời và tập thể dục, đồng thời phải được cung cấp các điều kiện sống lành mạnh. Động vật nhai lại cũng được yêu cầu tiếp cận đồng cỏ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Chương trình hữu cơ quốc gia là gì?</h4>
                        <p>
                            Chương trình Hữu cơ Quốc gia (NOP) bao gồm các quy định và cơ quan quản lý để thiết lập và bảo vệ các tiêu chuẩn cho các sản phẩm nông nghiệp được dán nhãn là "hữu cơ". Các tiêu chuẩn này được gọi là Tiêu chuẩn Hữu cơ Quốc gia. Quốc hội đã ủy quyền cho USDA thành lập NOP theo Đạo luật Sản xuất Thực phẩm Hữu cơ năm 1990. Tất cả các tuyên bố về nhãn thực phẩm hữu cơ được thực hiện tại Hoa Kỳ hiện phải được hỗ trợ bằng chứng nhận hợp lệ theo Quy tắc NOP.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Ai phải được chứng nhận?</h4>
                        <p>
                            Các quy định của USDA yêu cầu tất cả các nhà sản xuất và xử lý đưa ra công bố hữu cơ cho sản phẩm của họ phải được chứng nhận bởi một cơ quan chứng nhận được USDA công nhận. Các trường hợp ngoại lệ duy nhất là đối với nông dân nhỏ hoặc người chế biến có tổng doanh thu bán hàng hữu cơ dưới 5.000 đô la, người xử lý mua và bán mà không đóng gói lại hoặc thay đổi hình thức và các nhà bán lẻ không chế biến thực phẩm. Các hoạt động miễn trừ phải duy trì hồ sơ và tuân theo các quy trình sản xuất giống hệt như các nông dân được chứng nhận để dán nhãn sản phẩm của họ là hữu cơ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Ai chứng nhận?</h4>
                        <p>
                            USDA công nhận các cơ quan nhà nước, tư nhân và quốc tế chứng nhận các sản phẩm nông nghiệp và thực phẩm là hữu cơ theo NOP.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Mất bao lâu để chuyển đất canh tác thông thường sang trạng thái hữu cơ?</h4>
                        <p>
                            Để đủ điều kiện được chứng nhận hữu cơ, đất phải không có vật liệu bị cấm áp dụng cho nó trong ba năm ngay trước khi thu hoạch.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Phải chuyển đổi toàn bộ trang trại hay một trang trại có thể thực hiện chuyển đổi theo từng cánh đồng?</h4>
                        <p>
                            Một trang trại có thể được chuyển đổi ruộng theo ruộng. Tuy nhiên, để được chứng nhận, một cánh đồng phải có ranh giới rõ ràng, xác định và vùng đệm để bảo vệ nó khỏi dòng chảy và ô nhiễm ngoài ý muốn từ vùng đất liền kề. Trang trại cũng cần có cơ sở vật chất và lưu trữ hồ sơ để đảm bảo và ghi chép rằng các loại cây trồng hữu cơ và không hữu cơ không bị lẫn lộn.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Những nguồn động vật được chấp nhận được sử dụng để sản xuất thịt hữu cơ là gì?</h4>
                        <p>
                            Động vật giết mổ có thể đến từ bất kỳ đàn giống nào đã được quản lý hữu cơ từ 1/3 cuối thời kỳ mang thai.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Những nguồn gia cầm nào được chấp nhận đối với các sản phẩm gia cầm hữu cơ?</h4>
                        <p>
                            Gia cầm phải được quản lý hữu cơ từ ngày thứ hai của cuộc sống.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Có thể chuyển đổi động vật sang sản xuất hữu cơ cùng lúc với đất không?</h4>
                        <p>
                            Đúng. Các hoạt động chăn nuôi có thể chuyển đổi động vật với đất mà chúng được chăn nuôi.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>'Được chứng nhận hữu cơ' có nghĩa là gì?</h4>
                        <p>
                            Được chứng nhận hữu cơ có nghĩa là thực phẩm đã được trồng và xử lý theo Tiêu chuẩn của Chương trình Hữu cơ Quốc gia và được kiểm tra bởi các tổ chức nhà nước hoặc tư nhân độc lập. Việc kiểm tra định kỳ không báo trước cũng được tiến hành. Chứng nhận bao gồm kiểm tra hàng năm tất cả các ruộng và cơ sở của trang trại, hồ sơ hoạt động của trang trại, cộng với việc kiểm tra định kỳ đất, nước và sản phẩm để đảm bảo rằng người trồng và chế biến đáp ứng các Tiêu chuẩn Hữu cơ Quốc gia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Làm cách nào để liên hệ với người chứng nhận hữu cơ?</h4>
                        <p>
                            Bạn có thể truy cập trang web www.tnocd.org.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Chi phí chứng nhận là bao nhiêu?</h4>
                        <p>
                            Mỗi tổ chức chứng nhận được yêu cầu thiết lập và công bố biểu phí được áp dụng công bằng cho tất cả các ứng viên. Lệ phí khác nhau đáng kể giữa các cơ quan và tùy thuộc vào quy mô và loại hình hoạt động hữu cơ để được chứng nhận. Một số sở nông nghiệp của tiểu bang đang cung cấp một khoản hoàn trả đáng kể theo chương trình chia sẻ chi phí liên bang.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Chứng nhận hữu cơ có tự động được công nhận ở các bang khác không?</h4>
                        <p>
                            Tất cả các tiểu bang của Hoa Kỳ và các tổ chức chứng nhận được USDA công nhận đều chấp nhận các chứng nhận do các chương trình chứng nhận được USDA công nhận hoặc được công nhận. Các chính phủ nước ngoài và các tổ chức chứng nhận quốc tế có các tiêu chuẩn hữu cơ tương tự nhưng có thể yêu cầu chứng nhận bổ sung để xác nhận các nhà kinh doanh xuất khẩu sản phẩm hữu cơ đáp ứng các tiêu chuẩn của họ. Một số nhà chứng nhận của Hoa Kỳ cung cấp dịch vụ bổ sung này.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Làm thế nào để một trang trại được chứng nhận?</h4>
                        <p>
                            Người điều hành thu thập và đọc các Tiêu chuẩn Hữu cơ Quốc gia, đồng thời tiến hành tự đánh giá để xem liệu hoạt động có đáp ứng các yêu cầu này về lịch sử đất đai, thực tiễn sản xuất, vật liệu được sử dụng và thủ tục lưu trữ hồ sơ hay không. Trong nhiều trường hợp, một số thông lệ và hệ thống cần được sửa đổi để tuân thủ. Sau khi một hoạt động tuân thủ, nhà điều hành sau đó sẽ chọn một người chứng nhận được công nhận, nộp đơn đăng ký, được kiểm tra, đáp ứng bất kỳ điều kiện nào được xác định bởi người chứng nhận và nhận được chứng chỉ.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Các hình phạt đối với việc sử dụng sai thuật ngữ “hữu cơ” là gì?</h4>
                        <p>
                            Bất kỳ hoạt động nào cố ý bán hoặc dán nhãn một sản phẩm nông nghiệp là “hữu cơ”, không tuân theo Đạo luật Sản xuất Thực phẩm Hữu cơ và Tiêu chuẩn Hữu cơ Quốc gia có thể bị phạt dân sự không quá 10.000 đô la cho mỗi vi phạm và bị trừng phạt hình sự dựa trên vi phạm Luật liên bang quản lý gian lận và khai báo sai.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="choose-card">
                    <div class="choose-icon"><i class="icofont-support"></i></div>
                    <div class="choose-text">
                        <h4>Nông dân trồng trọt có phải sử dụng hạt giống hữu cơ không? ”</h4>
                        <p>
                            Quy tắc NOP yêu cầu hạt giống được sản xuất và xử lý hữu cơ phải được gieo trồng khi hạt giống đó được bán trên thị trường. Cây cấy hàng năm phải luôn được trồng theo phương pháp hữu cơ trừ khi Bộ trưởng Nông nghiệp ứng phó với thiên tai hoặc sự gián đoạn lớn khác đưa ra một phương sai tạm thời. Tất cả hạt giống được sử dụng trong sản xuất hữu cơ phải được xử lý chưa qua xử lý hoặc chỉ được xử lý bằng các chất (chẳng hạn như các sản phẩm vi sinh vật) nằm trong Danh sách Quốc gia. Nông dân được yêu cầu sử dụng hạt giống hữu cơ được chứng nhận khi nó được bán trên thị trường. Tính khả dụng trên thị trường dựa trên khả năng thu được hạt giống ở hình thức, chất lượng hoặc số lượng thích hợp, đã được đại lý chứng nhận xem xét.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="news-part"
         style="background: url(images/newsletter.jpg) no-repeat center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-5 col-lg-6 col-xl-7">
                <div class="news-text">
                    <h2>Nhận chiết khấu 20% cho người đăng ký</h2>
                    <p>Nhận chiết khấu 20% cho người đăng ký</p>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <input type="text" placeholder="Nhập địa chỉ email của bạn" />
                    <button>
                        <span><i class="icofont-ui-email"></i>Gửi</span>
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="intro-part">
    <div class="container">
        <div class="row intro-content">
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-truck"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Giao hàng tận nhà miễn phí</h5>
                        <p>Giao hàng đúng sản phẩm nhanh chóng, đúng hẹn, hỗ trợ giao tận cửa nếu có nhu ... hạng vàng rồi mà hóa đơn trên 100k vẫn k dc freeship vẫn tính 10k ship.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-sync-alt"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Chính Sách Hoàn Tiền</h5>
                        <p>Hoàn lại số tiền bằng với tiền vận chuyển mà người mua đã thanh toán cho đơn vị vận chuyển thông qua “Số dư tài khoản Vegetable-Organic” trên ứng dụng.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-headset"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Hệ Thống Hỗ Trợ</h5>
                        <p>Nguồn rau sạch rõ ràng, giá lại rẻ hơn cả rau mua ngoài chợ.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="intro-wrap">
                    <div class="intro-icon">
                        <i class="fas fa-lock"></i>
                    </div>
                    <div class="intro-content">
                        <h5>Thanh toán an toàn</h5>
                        <p>Người mua có thể gửi yêu cầu trả hàng/hoàn tiền trong vòng 07 (bảy) ngày (đối với các sản phẩm thuộc Cửa Hàng) và 03 (ba) ngày (đối với các sản phẩm không thuộc Cửa Hàng) kể từ lúc đơn hàng được cập nhật giao hàng thành công.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--************************************
             Footer Start
     *************************************-->
<footer th:replace="~{/web/fragments/footer :: footer}"></footer>

<!--************************************
        Footer End
*************************************-->


<script src="vendor/bootstrap/jquery-1.12.4.min.js"></script>
<script src="vendor/bootstrap/popper.min.js"></script>
<script src="vendor/bootstrap/bootstrap.min.js"></script>
<script src="vendor/countdown/countdown.min.js"></script>
<script src="vendor/niceselect/nice-select.min.js"></script>
<script src="vendor/slickslider/slick.min.js"></script>
<script src="vendor/venobox/venobox.min.js"></script>
<script src="js/nice-select.js"></script>
<script src="js/countdown.js"></script>
<script src="js/accordion.js"></script>
<script src="js/venobox.js"></script>
<script src="js/slick.js"></script>
<script src="js/main.js"></script>
</body>
</html>
